.login .page-content {
  background-color: #fff;
  width: 640px;
  margin: 0 auto;
  margin-bottom: 0px;
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}

@media screen and (max-width: 670px) {

  .login .page-content {
    width: 100%;
  }

}