<div class="container-fluid" style="display: none;" id="ctn-acc">
    <div class="login">
        <div class="logo">
            <img src="../../../img/private/logo-big.png" width="100px" alt="" />
        </div>
        <!-- BEGIN GRANT -->
        <div class="page-content" id="pict-user">
            <h1 class="page-title">{{ dataservice.forDisplay(id_to) }}  <a href="javascript:;" (click)="router.navigate(reqLink())"><small>{{ 'account.user' | translate }}</small></a></h1>
            <p>{{ 'account.question' | translate }}</p>
            <p>{{ 'account.explain' | translate }}</p>
            <p *ngIf="with_account != 'false'">{{ 'account.withAccount' | translate }}</p>
            <div *ngIf="!forever">
                {{ 'account.until' | translate }}
                <div class='input-group date' id='pick3'>
                    <input type='text' class="form-control" readonly="readonly" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <p *ngIf="forever">{{ 'account.forever' | translate }}</p>
            <!-- BEGIN DATA -->
            <div class="panel-group accordion" id="tgabble">
                <div *ngFor="let p of data_list" class="panel panel-default">
                    <div *ngIf="!!backend.generics[p]" class="panel-heading">
                        <h4 class="panel-title" style="text-align: right;">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#tgabble" href="#tgabble_{{ dataservice.sanit(p) }}">
                                <div style="float:left;">
                                    <img *ngIf="backend.generics[p][backend.generics[p].length - 1].icon.indexOf('https') == 0" class="img-circle img-responsive pull-left"
                                        src="{{ backend.generics[p][backend.generics[p].length - 1].icon }}" width="20px" />
                                    <i *ngIf="backend.generics[p][backend.generics[p].length - 1].icon != '' && backend.generics[p][backend.generics[p].length - 1].icon.indexOf('https') != 0"
                                        class="{{ backend.generics[p][backend.generics[p].length - 1].icon }}"></i>
                                </div>
                                {{ backend.generics[p][backend.generics[p].length - 1].descr_key | translate }}
                                <div style="padding-left:50px;float:right;">
                                    <i class="fa fa-chevron-down"></i>
                                </div>
                                <tooltip [mode]="'info'" [uri]="backend.generics[p][backend.generics[p].length - 1].help_url" [right]="true"></tooltip>
                            </a>
                        </h4>
                    </div>
                    <div id="tgabble_{{ dataservice.sanit(p) }}" class="panel-collapse collapse" >
                        <div class="panel-body" style="max-height:200px; overflow-y:auto;">
                            <p>{{ backend.generics[p][backend.generics[p].length - 1].long_descr_key | translate }}</p>
                            <!-- BEGIN ITEM SELECT -->
                            <div *ngIf="!backend.generics[p][backend.generics[p].length - 1].instantiable" id="igen{{ dataservice.sanit(p) }}">
                                <p *ngIf="!!backend.profile.data[p]">{{ 'account.shared' | translate }}</p>
                                <input_block *ngIf="!backend.profile.data[p]" [g]="p" (out)="regData(p, $event)" [writeDesc]="true"></input_block>
                            </div>
                            <div *ngIf="backend.generics[p][backend.generics[p].length - 1].instantiable">
                                <select class="form-control" [(ngModel)]="filter[p]">
                                    <option *ngFor="let f of filters(p)" [value]="f"><span *ngIf="f != '/new'">{{ f }}</span><span *ngIf="f == '/new'">{{ 'account.new' | translate }}</span></option>
                                </select>
                                <div *ngIf="filter[p] == '/new'" id="igen{{ dataservice.sanit(p) }}">
                                    {{ 'account.new' | translate }}
                                    <input type="text" [(ngModel)]="new_name[p]" class="form-control grant-required">
                                    {{ 'account.dataField' | translate }}*
                                    <input_block [g]="p" (out)="regData(p, $event)" [writeDesc]="true"></input_block>
                                </div>
                            </div>
                            <!-- END ITEM SELECT -->
                        </div>
                    </div>
                </div>
                <div class="clearfix" style="padding-top:10px;text-align:right">
                    <button type="button" class="btn green-meadow" (click)="finish(true)" [disabled]="!allFilled()">{{ 'account.ok' | translate }}</button>
                    <button type="button" class="btn grey" (click)="finish(true)">{{ 'account.nok' | translate }}</button>
                </div>
            </div>
            <!-- END DATA -->
        </div>
        <!-- END GRANT -->
    </div>
</div>