<div class="tab-content">
    <div class="tab-pane active">
        <div class="portlet box blue-madison">
            <div class="portlet-title">
                <div class="caption">
                    <tooltip [mode]="'info'" *ngIf="isGeneric()" [uri]="backend.generics[gen_name][backend.generics[gen_name].length - 1].help_url" [right]="false"></tooltip>
                    {{ getName() }}
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal" role="form">
                    <div class="form-body">
                        <div *ngIf="!is_dated">
                            <p>{{ 'actual' | translate }}</p>
                            <div *ngIf="!is_folder">
                                <input id="decrypted" *ngIf="decr_data.length < 150" type="text" [ngModel]="decr_data" class="form-control" name="decr" readonly>
                                <input id="decrypted" *ngIf="decr_data.length >= 150" type="text" value="{{ 'dataview.tooLong' | translate }}" class="form-control" readonly>
                            </div>
                            <div *ngIf="is_folder">
                                <div class="form-group" *ngFor="let k of backend.generics[gen_name][version].json_keys">
                                    {{ k.descr_key | translate }}<br />
                                    <input type="text" value="{{ recover(k.descr_key, decr_data, '') }}" name="decr" class="form-control" readonly>
                                </div>
                            </div>

                            <button type="button" class="btn default" [disabled]="decr_data==''" (click)="dl(decr_data)">
                                <i class="fa fa-cloud-download"></i> {{ 'download' | translate }}</button>
                            <button type="button" *ngIf="!is_folder && decr_data.length < 150" class="btn default btn-copier" data-clipboard-target="#decrypted">
                                <i class="fa fa-download"></i> {{ 'copy' | translate }}</button>
                            <br />
                        </div>
                        <div *ngIf="is_dated">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" *ngFor="let p of computeValues(); let i = index" [class.active]="i == 0">
                                    <a href="#{{ dataservice.sanit(p.from.toLocaleString()) }}" [attr.aria-controls]="dataservice.sanit(p.from.toLocaleString())"
                                    role="tab" data-toggle="tab">{{ p.from.toLocaleString() }}</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" *ngFor="let p of computeValues(); let i = index" class="tab-pane" [class.active]="i == 0" id="{{ dataservice.sanit(p.from.toLocaleString()) }}">
                                    <div>{{ 'actualFrom' | translate }}{{ p.from.toLocaleString() }}</div>
                                    <div *ngIf="!is_folder">
                                        <input *ngIf="p.value.length < 150" type="text" [ngModel]="p.value" class="form-control" name="decr" readonly>
                                        <input *ngIf="p.value.length >= 150" type="text" value="{{ 'dataview.tooLong' | translate }}" class="form-control" readonly>
                                    </div>
                                    <div *ngIf="is_folder">
                                        <div class="form-group" *ngFor="let k of backend.generics[gen_name][version].json_keys">
                                            {{ k.descr_key | translate }}<br />
                                            <input type="text" value="{{ recover(k.descr_key, p.value, p.from) }}" name="decr" class="form-control" readonly>
                                        </div>
                                    </div>

                                    <button type="button" class="btn default" (click)="dl(p.value)">
                                        <i class="fa fa-cloud-download"></i> {{ 'download' | translate }}</button>
                                    <button *ngIf="change" type="button" class="btn green" (click)="rem(i)" [disabled]="computeValues().length < 2">
                                        <i class="fa fa-exclamation"></i> {{ 'remove' | translate }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>