<div class="tab-content">
    <div class="tab-pane active">
        <div class="portlet box blue-madison">
            <div class="portlet-title">
                <div class="caption">
                    <tooltip [mode]="'info'" *ngIf="is_generic" [uri]="backend.generics[gen_name][backend.generics[gen_name].length - 1].help_url" [right]="false"></tooltip>
                    {{ getName() }}
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal" role="form">
                    <div class="form-body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" *ngIf="!is_dated" class="fi-listable active">
                                <a href="#whigi-undated" aria-controls="whigi-undated" role="tab" data-toggle="tab">{{ 'actual' | translate }}</a></li>
                            <li role="presentation" *ngFor="let p of is_dated? computeValues() : []; let i = index" [class.active]="i == 0" [class.fi-listable]="i == 0">
                                <a href="#{{ dataservice.sanit(p.from.toLocaleString()) }}" [attr.aria-controls]="dataservice.sanit(p.from.toLocaleString())"
                                role="tab" data-toggle="tab">{{ p.from.toLocaleString() }}</a></li>
                            <li role="presentation" class="wlimore" *ngIf="change">
                                <a href="#whigi-more-val" *ngIf="is_dated" aria-controls="whigi-more-val" role="tab" data-toggle="tab">{{ 'add' | translate }}</a>
                                <a href="#whigi-more-val" *ngIf="!is_dated" aria-controls="whigi-more-val" role="tab" data-toggle="tab">{{ 'modify' | translate }}</a>
                                </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- begin show undated -->
                            <div role="tabpanel" *ngIf="!is_dated" class="fi-listable tab-pane active" id="whigi-undated">
                                <p>{{ 'actual' | translate }}</p>
                                <clear-single-view [jsoned]="is_folder" [data]="decr_data" [gen]="gen_name" [version]="version" [rst]="cvRst"></clear-single-view>

                                <div style="margin-top: 10px;" class="form-actions">
                                    <div class="row text-center">
                                        <div class="col-md-2">
                                            <button type="button" class="btn default" [disabled]="decr_data==''" (click)="dl(decr_data)">
                                                <i class="fa fa-cloud-download"></i> {{ 'download' | translate }}</button>
                                        </div>
                                        <div *ngIf="!is_folder && decr_data.length < 150" class="col-md-2">
                                            <button type="button" class="btn default btn-copier" data-clipboard-target="#decrypted">
                                                <i class="fa fa-download"></i> {{ 'copy' | translate }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end show undated -->
                            <!-- begin show dated -->
                            <div role="tabpanel" *ngFor="let p of is_dated? computeValues() : []; let i = index" class="tab-pane" [class.active]="i == 0" [class.fi-listable]="i == 0"
                                id="{{ dataservice.sanit(p.from.toLocaleString()) }}">
                                <p>{{ 'actualFrom' | translate }}</p>
                                <div class='input-group date' id='pick-chg{{ dataservice.sanit(p.from.toLocaleString()) }}'>
                                    <input type='text' class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                <clear-single-view [jsoned]="is_folder" [data]="p.value" [fr]="p.from" [gen]="gen_name" [version]="version" [rst]="cvRst"></clear-single-view>

                                <div style="margin-top: 10px;" class="form-actions">
                                    <div class="row text-center">
                                        <div class="col-md-2">
                                            <button type="button" class="btn default" (click)="dl(p.value)">
                                                <i class="fa fa-cloud-download"></i> {{ 'download' | translate }}</button>
                                        </div>
                                        <div *ngIf="change" class="col-md-2">
                                            <button type="button" class="btn green" (click)="recFrom('pick-chg' + dataservice.sanit(p.from.toLocaleString()), i)">
                                                <i class="fa fa-save"></i> {{ 'modify' | translate }}</button>
                                        </div>
                                        <div *ngIf="change" class="col-md-2">
                                            <button type="button" class="btn green" (click)="rem(i)" [disabled]="computeValues().length < 2">
                                                <i class="fa fa-exclamation"></i> {{ 'remove' | translate }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end show dated -->
                            <!-- begin change dated -->
                            <div role="tabpanel" class="wlimore tab-pane" *ngIf="change" id="whigi-more-val">
                                <div class="row">
                                    <div class="col-md-4">
                                        <p *ngIf="!is_dated">{{ 'dataview.notDated' | translate }}</p>
                                        <div *ngIf="!!is_dated && is_dated" class='input-group date' id='pick4'>
                                            <input type='text' class="form-control"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 text-right igen{{ dataservice.sanit(gen_name) }}" style="padding-right: 20px;"
                                        *ngIf="!is_generic || !backend.generics[gen_name][backend.generics[gen_name].length - 1].mode == 'json_keys'">
                                        {{ 'actual' | translate }}<span>*</span>:
                                    </div>
                                    <div class="col-md-3 text-right igen{{ dataservice.sanit(gen_name) }}" style="padding-right: 20px;">
                                        <div class="row" style="height: 34px;" *ngIf="is_generic"></div>
                                        <!-- labels -->
                                        <div style="padding-top: 1em;display: none;" class="keys{{ dataservice.sanit(gen_name) }} text-right"
                                            *ngIf="is_generic && backend.generics[gen_name][backend.generics[gen_name].length - 1].mode == 'json_keys'">
                                            <div class="row" style="height: 5ex;padding-right: 20px;" *ngFor="let k of backend.generics[gen_name][backend.generics[gen_name].length - 1].json_keys">
                                                {{ k.descr_key | translate }}<span *ngIf="k.required">*</span>:<br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 igen{{ dataservice.sanit(gen_name) }}">
                                        <input_block *ngIf="is_generic" [reset]="reset" [g]="gen_name" (out)="regData($event)" [writeDesc]="false"></input_block>
                                        <input *ngIf="!is_generic" type="text" [(ngModel)]="new_data" name="new_data" [disabled]="new_data_file!=''" class="form-control" />
                                        <button *ngIf="!is_generic" type="button" class="btn default load-button" (click)="dataservice.triggerLoad('fs40')">
                                            <i class="fa fa-cloud-upload"></i></button>
                                        <input *ngIf="!is_generic" id="fs40" style="display: none;" type="file" class="form-control" (change)="fileLoad($event)" name="pict" />
                                        <button *ngIf="!is_generic" type="button" class="btn default" (click)="undoLoad();">
                                            <i class="fa fa-remove"></i></button>
                                    </div>
                                </div>
                                <div style="margin-top: 10px;" class="form-actions">
                                    <div class="row text-center">
                                        <div class="col-md-2">
                                            <button type="submit" class="btn green" [disabled]="!decr_data" (click)="modify()">
                                                <i class="fa fa-pencil"></i> 
                                                <span *ngIf="!is_dated">{{ 'modify' | translate }}</span>
                                                <span *ngIf="is_dated">{{ 'record' | translate }}</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end change dated -->
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>