<div class="row">
    <input id="decrypted" *ngIf="!jsoned && data.length < 150" type="text" [ngModel]="show()" class="form-control" name="decr" readonly>
    <span *ngIf="!jsoned && data.length >= 150"><i class="fa fa-warning"></i> {{ 'dataview.tooLong' | translate }}</span>

    <div class ="col-md-6" *ngIf="!!gen && jsoned">
        <div *ngFor="let k of columns(false)">
            <label>{{ k.descr_key | translate }}</label>
            <input *ngIf="k.mode != 'file'" type="text" value="{{ recover(k) }}" name="decr" class="form-control" readonly>
            <div *ngIf="k.mode == 'file' && recover(k) && recover(k).substr(0, 10) == 'data:image'">
                <img height="34px;" [src]="recover(k)"/></div>
            <input *ngIf="k.mode == 'file' && (!recover(k) || recover(k).substr(0, 10) != 'data:image')"
                type="text" value="{{ 'filesystem.notView' | translate }}" name="decr" class="form-control" readonly>
        </div>
    </div>
    <div class ="col-md-6" *ngIf="!!gen && jsoned">
        <div *ngFor="let k of columns(true)">
            <label>{{ k.descr_key | translate }}</label>
            <input *ngIf="k.mode != 'file'" type="text" value="{{ recover(k) }}" name="decr" class="form-control" readonly>
            <div *ngIf="k.mode == 'file' && recover(k) && recover(k).substr(0, 10) == 'data:image'">
                <img height="34px;" [src]="recover(k)"/></div>
            <input *ngIf="k.mode == 'file' && (!recover(k) || recover(k).substr(0, 10) != 'data:image')"
                type="text" value="{{ 'filesystem.notView' | translate }}" name="decr" class="form-control" readonly>
        </div>
    </div>
</div>