<div class="tab-content">
    <div class="tab-pane active">
        <div class="portlet box blue-madison">
            <div class="portlet-title">
                <div class="caption">
                    <tooltip [mode]="'info'" *ngIf="isGeneric()" [uri]="backend.generics[gen_name][backend.generics[gen_name].length - 1].help_url" [right]="false"></tooltip>
                    {{ getName() }}
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal" role="form">
                    <div class="form-body">
                        <div *ngIf="!is_dated">
                            <p>{{ 'actual' | translate }}</p>
                            <clear-single-view [jsoned]="is_folder" [data]="decr_data" [gen]="gen_name" [version]="version" [rst]="changed"></clear-single-view>

                            <button type="button" class="btn default" [disabled]="decr_data==''" (click)="dl(decr_data)">
                                <i class="fa fa-cloud-download"></i> {{ 'download' | translate }}</button>
                            <button type="button" *ngIf="!is_folder && decr_data.length < 150" class="btn default btn-copier" data-clipboard-target="#decrypted">
                                <i class="fa fa-download"></i> {{ 'copy' | translate }}</button>
                            <br />
                        </div>
                        <div *ngIf="is_dated">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" *ngFor="let p of computeValues(); let i = index" [class.active]="i == 0">
                                    <a href="#{{ dataservice.sanit(p.from.toLocaleString()) }}" [attr.aria-controls]="dataservice.sanit(p.from.toLocaleString())"
                                    role="tab" data-toggle="tab">{{ p.from.toLocaleString() }}</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" *ngFor="let p of computeValues(); let i = index" class="tab-pane" [class.active]="i == 0" id="{{ dataservice.sanit(p.from.toLocaleString()) }}">
                                    <div>{{ 'actualFrom' | translate }}{{ p.from.toLocaleString() }}</div>
                                    <clear-single-view [jsoned]="is_folder" [data]="p.value" [fr]="p.from" [gen]="gen_name" [version]="version" [rst]="changed"></clear-single-view>

                                    <button type="button" class="btn default" (click)="dl(p.value)">
                                        <i class="fa fa-cloud-download"></i> {{ 'download' | translate }}</button>
                                    <button *ngIf="change" type="button" class="btn green" (click)="rem(i)" [disabled]="computeValues().length < 2">
                                        <i class="fa fa-exclamation"></i> {{ 'remove' | translate }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>