<div class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="page-wrapper">
        <header [cur]="dataservice.ee" [run]="dataservice.how"></header>
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <sidebar [lighted]="lighted"></sidebar>
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content" style="min-height:800px">
                    <!-- BEGIN PAGE TITLE-->
                    <h1 class="page-title"> {{ dataservice.sanitarize(folders, true) }}</h1>
                    <h3 *ngIf="!!hasKey(false)">{{ hasKey(false) | translate }}</h3>
                    <p *ngIf="!!hasKey(true)">{{ hasKey(true) | translate }}</p>
                    <!-- END PAGE TITLE-->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN BLOCK -->
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>{{ 'filesystem.data_name' | translate }}</th>
                                            <th>{{ 'filesystem.data' | translate }}</th>
                                            <th>{{ 'action' | translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="info">
                                            <td></td>
                                            <td>{{ 'filesystem.folder' | translate }}</td>
                                            <td><button type="button" class="btn default" (click)="getUp()" [disabled]="folders==''">{{ 'filesystem.getUp' | translate }}</button></td>
                                        </tr>
                                        <tr *ngFor="let d of folderNames()"  class="info">
                                            <td>{{ d }}</td>
                                            <td>{{ 'filesystem.folder' | translate }}</td>
                                            <td><button type="button" class="btn default" (click)="select(d)">{{ 'filesystem.goTo' | translate }}</button></td>
                                        </tr>
                                        <tr *ngFor="let d of dataNames()">
                                            <td>{{ d }}</td>
                                            <td><i>{{ 'filesystem.mix' | translate }}</i></td>
                                            <td><button type="button" class="btn default" (click)="view(d)">{{ 'filesystem.goTo' | translate }}</button></td>
                                        </tr>
                                        <tr *ngIf="mode=='data'" class="info">
                                            <td><input type="text" [(ngModel)]="data_name" name="s0" class="form-control input-circle"></td>
                                            <td>{{ 'filesystem.folder' | translate }}</td>
                                            <td>
                                                <button type="button" class="btn default" (click)="select(data_name); data_name=''" [disabled]="!data_name || data_name==''">{{ 'filesystem.newFolder' | translate }}</button>
                                            </td>
                                        </tr>

                                        <tr *ngIf="mode=='data' && !backend.generics[folders.slice(0, -1)]">
                                            <td><div class="inaming"><input type="text" [(ngModel)]="data_name" name="s0" class="form-control input-circle"></div></td>
                                            <td><input type="text" [(ngModel)]="data_value" name="s1" class="form-control input-circle"></td>
                                            <td>
                                                <button type="button" class="btn green" (click)="register(false, false)"><i class="fa fa-edit"></i> {{ 'filesystem.record' | translate }}</button>
                                            </td>
                                        </tr>
                                        <tr *ngIf="mode=='data' && !backend.generics[folders.slice(0, -1)]">
                                            <td><div class="inaming"><input type="text" [(ngModel)]="data_name" name="s0" class="form-control input-circle"></div></td>
                                            <td><input type="file" (change)="fileLoad($event)" name="n50" class="form-control input-circle"></td>
                                            <td>
                                                <button type="button" class="btn green" (click)="register(true, false)" [disabled]="data_value_file==''"><i class="fa fa-edit"></i> {{ 'filesystem.record' | translate }}</button>
                                            </td>
                                        </tr>

                                        <tr *ngIf="mode=='data' && !backend.generics[folders.slice(0, -1)]">
                                            <td><div class="inaming"><input type="text" [(ngModel)]="data_name" name="s0" class="form-control input-circle"></div></td>
                                            <td><input type="text" [(ngModel)]="data_value" name="s1" class="form-control input-circle"></td>
                                            <td>
                                                <div class='input-group date' id='pick1'>
                                                    <input type='text' class="form-control" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                                <button type="button" class="btn green" (click)="register(false, true)"><i class="fa fa-edit"></i> {{ 'filesystem.record' | translate }}</button>
                                            </td>
                                        </tr>
                                        <tr *ngIf="mode=='data' && !backend.generics[folders.slice(0, -1)]">
                                            <td><div class="inaming"><input type="text" [(ngModel)]="data_name" name="s0" class="form-control input-circle"></div></td>
                                            <td><input type="file" (change)="fileLoad($event)" name="n50" class="form-control input-circle"></td>
                                            <td>
                                                <div class='input-group date' id='pick2'>
                                                    <input type='text' class="form-control" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                                <button type="button" class="btn green" (click)="register(true, true)" [disabled]="data_value_file==''"><i class="fa fa-edit"></i> {{ 'filesystem.record' | translate }}</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- END BLOCK -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div class="page-footer">
            <div class="scroll-to-top" style="display: block;" (click)="dataservice.top()">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- END FOOTER -->
    </div>
</div>