<div class="tab-pane active">
    <div class="portlet box blue-madison">
        <div class="portlet-title">
            <div class="caption">
                {{ group | translate }}
            </div>
            <div class="tools">
                <a href="javascript:;" class="tl-link expand" (click)="dataservice.collapse('apsablegen' + dataservice.sanit(group))"> </a>
            </div>
        </div>
        <div class="portlet-body form" id="apsablegen{{ dataservice.sanit(group) }}">
            <!-- BEGIN FORM -->
            <form class="form-horizontal" role="form">
                <div class="form-body">
                    <div *ngFor="let g of data_list; let l = last" id="iname{{ dataservice.sanit(g) }}">
                        <div class="row input-holder-{{ dataservice.sanit(group) }}" [attr.data-g]="g">
                            <div class="col-md-12">
                                <div class="row">
                                    <!-- EXPL -->
                                    <div class="col-md-6">
                                        <h4>
                                            <img *ngIf="backend.generics[g][backend.generics[g].length - 1].icon.indexOf('https') == 0" class="img-circle img-responsive"
                                                src="{{ backend.generics[g][backend.generics[g].length - 1].icon }}" width="20px" style="float:left;"/>
                                            <i *ngIf="backend.generics[g][backend.generics[g].length - 1].icon != '' && backend.generics[g][backend.generics[g].length - 1].icon.indexOf('https') != 0"
                                                class="{{ backend.generics[g][backend.generics[g].length - 1].icon }}"></i>
                                            {{ backend.generics[g][backend.generics[g].length - 1].descr_key | translate }}
                                            <tooltip [mode]="'info'" [uri]="backend.generics[g][backend.generics[g].length - 1].help_url" [right]="true"></tooltip>
                                        </h4>
                                    </div>
                                    <div class="col-md-5" *ngIf="!!backend.profile.data[g] && !backend.generics[g][backend.generics[g].length - 1].instantiable">
                                        <input type="text" readonly="readonly" class="form-control" name="preview" [value]="preview(g, backend.generics[g][backend.profile.data[g].version].mode == 'json_keys')" />
                                        <tooltip [mode]="'shares'" [right]="true" [uri]="g"></tooltip>
                                    </div>
                                    <div class="col-md-1" style="left: -20px;" *ngIf="!!backend.profile.data[g] && !backend.generics[g][backend.generics[g].length - 1].instantiable">
                                        <button type="button" class="btn btn-link" (click)="select(g)">
                                            <i class="fa fa-pencil"></i></button>
                                    </div>
                                    <div class="col-md-6 igen{{ dataservice.sanit(g) }}" *ngIf="!backend.profile.data[g] && !backend.generics[g][backend.generics[g].length - 1].instantiable">
                                        <input_block [reset]="resets[g]" [g]="g" (out)="regData(g, $event)" [writeDesc]="false"></input_block>
                                    </div>
                                    <!-- EXPL -->
                                </div>
                                <div class="row">
                                    <p>{{ backend.generics[g][backend.generics[g].length - 1].long_descr_key | translate }}</p>
                                </div>
                                <!-- BEGIN SELECT -->
                                <div class="row igen{{ dataservice.sanit(g) }}">
                                    <!-- description -->
                                    <div class="col-md-6 text-right" style="padding-right: 20px;" *ngIf="!backend.profile.data[g] && !backend.generics[g][backend.generics[g].length - 1].instantiable">
                                        {{ 'actual' | translate }}<span>*</span>:
                                    </div>
                                    <div class="col-md-6 text-right" style="padding-right: 20px;" *ngIf="!backend.profile.data[g] && backend.generics[g][backend.generics[g].length - 1].instantiable">
                                        <input type="text" [(ngModel)]="ass_name[g]" (input)="doCollapse(g, backend.generics[g][backend.generics[g].length - 1].mode == 'json_keys')"
                                            name="new_name{{ dataservice.sanit(g) }}" class="form-control" [attr.list]="'suggestions' + g">
                                        <datalist id="suggestions{{ g }}">
                                            <option *ngFor="let k of backend.generics[g][backend.generics[g].length - 1].new_key" value="{{ k | translate }}">
                                        </datalist>
                                        <!-- labels -->
                                        <div style="display: none;" class="keys{{ dataservice.sanit(g) }} text-right" *ngIf="backend.generics[g][backend.generics[g].length - 1].mode == 'json_keys'">
                                            <div class="row" style="height: 5ex;padding-right: 20px;" *ngFor="let k of backend.generics[g][backend.generics[g].length - 1].json_keys">
                                                {{ k.descr_key | translate }}<span *ngIf="k.required">*</span>:<br />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- input -->
                                    <div class="col-md-6" *ngIf="!backend.profile.data[g] && backend.generics[g][backend.generics[g].length - 1].instantiable">
                                        <input_block [reset]="resets[g]" [g]="g" (out)="regData(g, $event)" [writeDesc]="false"></input_block>
                                    </div>
                                </div>
                                <!-- END SELECT -->
                                <!-- BEGIN ACTIONS -->
                                <div class="row" style="padding-top: 3px;">
                                    <div *ngIf="backend.generics[g][backend.generics[g].length - 1].instantiable">
                                        <ul class="list-group">
                                            <li class="list-group-item" style="border: none; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;" *ngFor="let d of dataNames(g, 3)">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <input type="text" id="chgname{{ dataservice.sanit(g + '/' + d) }}" class="form-control" value="{{ d }}" readonly="readonly"/>
                                                    </div>
                                                    <div class="col-md-2" style="left: -20px;">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <button type="button" style="left: 2px;position: absolute;" id="tgname{{ dataservice.sanit(g + '/' + d) }}" class="btn btn-link" (click)="tgName(g, d)">
                                                                    <i class="fa fa-pencil"></i></button>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <button type="button" class="btn btn-link" (click)="remove(g + '/' + d)" [disabled]="hasShares(g + '/' + d)">
                                                                    <i class="fa fa-remove"></i> </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div *ngIf="backend.generics[g][backend.profile.data[g + '/' + d].version].mode != 'file'">
                                                                <input type="text" readonly="readonly" class="form-control" name="preview" [value]="preview(g + '/' + d, backend.generics[g][backend.profile.data[g + '/' + d].version].mode == 'json_keys')" />
                                                            </div>
                                                            <div class="text-center" style="height: 34px;" *ngIf="backend.generics[g][backend.profile.data[g + '/' + d].version].mode == 'file'">
                                                                {{ 'nothing' | translate }}
                                                            </div>
                                                            <tooltip [right]="false" [mode]="'shares'" [uri]="g + '/' + d"></tooltip>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1" style="left: -20px;">
                                                        <button type="button" class="btn btn-link" (click)="select(g + '/' + d)">
                                                            <i class="fa fa-pencil"></i></button>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- END ACTIONS -->
                            </div>
                        </div>
                        <div style="margin-top:7px; margin-bottom:2px; height:1px; width:100%; border-top:1px solid #2b3643;" *ngIf="!l"></div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-4">
                            <button type="button" class="btn green" (click)="registerAll(true)" [disabled]="registerAll(false)"><i class="fa fa-pencil"></i> {{ 'filesystem.record' | translate }}</button>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn default" (click)="cancel()">{{ 'cancel' | translate }}</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- END FORM -->
        </div>
    </div>
</div>