<div class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="page-wrapper">
        <header [cur]="dataservice.ee" [run]="dataservice.how"></header>
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <sidebar [lighted]="lighted"></sidebar>
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content" style="min-height:800px">
                    <!-- BEGIN PAGE TITLE-->
                    <h1 class="page-title"> {{ 'generics.title' | translate }}</h1>
                    <!-- END PAGE TITLE-->
                    <div class="row">
                        <select class="form-control input-circle" [(ngModel)]="filter" (change)="regUpdate()">
                            <option *ngFor="let f of filters()" [value]="f">{{ f | translate }}</option>
                        </select><br />
                        <div class="col-md-6">
                            <!-- BEGIN BLOCK -->
                            <div class="tab-content" *ngFor="let g of generics(); let e = even">
                                <generic_block *ngIf="e" [data_list]="g[0]" [group]="g[1]"></generic_block>
                            </div>
                            <!-- END BLOCK -->
                        </div>
                        <div class="col-md-6">
                            <!-- BEGIN BLOCK -->
                            <div class="tab-content" *ngFor="let g of generics(); let e = odd">
                                <generic_block *ngIf="e" [data_list]="g[0]" [group]="g[1]"></generic_block>
                            </div>
                            <!-- END BLOCK -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div class="page-footer">
            <div class="scroll-to-top" style="display: block;" (click)="dataservice.top()">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- END FOOTER -->
    </div>
</div>