<div class="tab-pane active">
    <div class="portlet box blue-madison">
        <div class="portlet-title">
            <div class="caption">
                {{ group | translate }}
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" (click)="dataservice.collapse('apsablegen' + dataservice.sanit(group))"> </a>
            </div>
        </div>
        <div class="portlet-body form" id="apsablegen{{ dataservice.sanit(group) }}">
            <!-- BEGIN FORM -->
            <form class="form-horizontal" role="form">
                <div class="form-body">
                    <div *ngFor="let g of data_list; let l = last" id="iname{{ dataservice.sanit(g) }}">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <!-- EXPL -->
                                    <h4>
                                        <img *ngIf="backend.generics[g][backend.generics[g].length - 1].icon.indexOf('https') == 0" class="img-circle img-responsive"
                                            src="{{ backend.generics[g][backend.generics[g].length - 1].icon }}" width="20px" style="float:left;"/>
                                        <i *ngIf="backend.generics[g][backend.generics[g].length - 1].icon != '' && backend.generics[g][backend.generics[g].length - 1].icon.indexOf('https') != 0"
                                            class="{{ backend.generics[g][backend.generics[g].length - 1].icon }}"></i>
                                        {{ backend.generics[g][backend.generics[g].length - 1].descr_key | translate }}
                                        <tooltip [uri]="backend.generics[g][backend.generics[g].length - 1].help_url" [right]="true"></tooltip>
                                    </h4>
                                    <p>{{ backend.generics[g][backend.generics[g].length - 1].long_descr_key | translate }}</p>
                                    <p *ngIf="backend.generics[g][backend.generics[g].length - 1].instantiable">{{ 'account.nameField' | translate }}*
                                        <input type="text" [(ngModel)]="ass_name[g]" name="new_name{{ dataservice.sanit(g) }}" class="form-control input-circle" />
                                    </p>
                                    <!-- EXPL -->
                                </div>
                                <!-- BEGIN SELECT -->
                                <div class="row" id="igen{{ dataservice.sanit(g) }}">
                                    <!-- description -->
                                    <div class="col-md-6" *ngIf="!backend.profile.data[g] && backend.generics[g][backend.generics[g].length - 1].mode != 'json_keys'">
                                        {{ 'actual' | translate }}<span>*</span>
                                    </div>
                                    <div class="col-md-6" *ngIf="!backend.profile.data[g] && backend.generics[g][backend.generics[g].length - 1].mode == 'json_keys'">
                                        <div class="row" style="height: 5ex;" *ngFor="let k of backend.generics[g][backend.generics[g].length - 1].json_keys">
                                            {{ k.descr_key | translate }}<span *ngIf="k.required">*</span><br />
                                        </div>
                                    </div>
                                    <!-- input -->
                                    <div class="col-md-6" *ngIf="!backend.profile.data[g]">
                                        <input_block [g]="g" (out)="regData(g, $event)" [writeDesc]="false"></input_block>
                                    </div>
                                </div>
                                <!-- END SELECT -->
                                <!-- BEGIN DISP -->
                                <div class="row" style="padding-top: 3px;">
                                    <div *ngIf="!backend.generics[g][backend.generics[g].length - 1].instantiable">
                                        <div class="col-md-6">
                                            <ul class="list-group" *ngIf="!!backend.profile.data[g]">
                                                <li class="list-group-item">
                                                    <button type="button" class="btn btn-link"
                                                        (click)="select(g)">{{ 'filesystem.goTo' | translate }}</button>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="list-group" *ngIf="!backend.profile.data[g]">
                                                <li class="list-group-item">
                                                    <button *ngIf="backend.generics[g][backend.generics[g].length - 1].mode != 'file'"
                                                        type="button" class="btn green" (click)="register(g, false)"><i class="fa fa-pencil"></i> {{ 'filesystem.record' | translate }}</button>
                                                    <button *ngIf="backend.generics[g][backend.generics[g].length - 1].mode == 'file'"
                                                        type="button" class="btn green" (click)="register(g, true)"><i class="fa fa-pencil"></i> {{ 'filesystem.record' | translate }}</button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div *ngIf="backend.generics[g][backend.generics[g].length - 1].instantiable">
                                        <div class="col-md-6">
                                            <ul class="list-group">
                                                <li class="list-group-item" *ngFor="let d of dataNames(g)">
                                                    <button type="button" class="btn btn-link"
                                                        (click)="select(g + '/' + d)">{{ 'filesystem.goTo' | translate }} ({{ d }})</button>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <button *ngIf="backend.generics[g][backend.generics[g].length - 1].mode != 'file'" [disabled]="!ass_name[g] || ass_name[g] == ''"
                                                        type="button" class="btn green" (click)="register(g, false, ass_name[g])"><i class="fa fa-pencil"></i> {{ 'filesystem.record' | translate }}</button>
                                                    <button *ngIf="backend.generics[g][backend.generics[g].length - 1].mode == 'file'" [disabled]="!ass_name[g] || ass_name[g] == ''"
                                                        type="button" class="btn green" (click)="register(g, true, ass_name[g])"><i class="fa fa-pencil"></i> {{ 'filesystem.record' | translate }}</button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- END DISP -->
                            </div>
                        </div>
                        <div style="margin-top:10px; margin-bottom:2px; height:1px; width:100%; border-top:2px solid gray;" *ngIf="!l"></div>
                    </div>
                </div>
            </form>
            <!-- END FORM -->
        </div>
    </div>
</div>