<div class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="page-wrapper">
        <header [cur]="dataservice.ee" [run]="dataservice.how"></header>
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <sidebar [lighted]="40"></sidebar>
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content" style="min-height:800px">
                    <!-- BEGIN PAGE TITLE-->
                    <h1 class="page-title"> {{ 'profile.happenings' | translate }}</h1>
                    <!-- END PAGE TITLE-->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- TABS -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" *ngFor="let h of ha" class="active">
                                    <a href="#{{ h.sid }}" [attr.aria-controls]="h.sid" role="tab" data-toggle="tab">{{ h.name | translate }}</a>
                                </li>
                            </ul>
                            <!-- END TABS -->
                            <!-- PANES -->
                            <div class="tab-content">
                                <p style="text-align: center;">{{ 'happenings.explain' | translate }}</p>
                                <div *ngFor="let h of ha" role="tabpanel" class="tab-pane active" id="{{ h.sid }}">
                                    <div *ngFor="let s of h.steps; let i = index" [style.display]="cstep[h.sid] == i? 'block' : 'none'">
                                        <div [ngSwitch]="s.mode">
                                            <div *ngSwitchCase="'creating'" class="row igen{{ dataservice.sanit(s.gen) }}">
                                                <div class="col-md-4 text-right" style="padding-right: 10px;">
                                                    <!-- select name any -->
                                                    <input *ngIf="backend.generics[s.gen][backend.generics[s.gen].length - 1].instantiable && !backend.generics[s.gen][backend.generics[s.gen].length - 1].new_keys_only
                                                        && !backend.generics[s.gen][backend.generics[s.gen].length - 1].new_key_is" type="text" [(ngModel)]="new_names[h.sid + i + s.gen]" name="new_name{{ dataservice.sanit(s.gen) }}"
                                                        class="form-control" [attr.list]="'suggestions' + dataservice.sanit(s.gen)" style="box-shadow: 1px 1px 1px #FF5000!important;" placeholder="{{ 'generics.label' | translate }}">
                                                    <datalist *ngIf="backend.generics[s.gen][backend.generics[s.gen].length - 1].instantiable && !backend.generics[s.gen][backend.generics[s.gen].length - 1].new_keys_only"
                                                        id="suggestions{{ dataservice.sanit(s.gen) }}">
                                                        <option *ngFor="let k of backend.generics[s.gen][backend.generics[s.gen].length - 1].new_key" value="{{ k | translate }}">
                                                    </datalist>
                                                    <!-- end select name any -->
                                                    <!-- select name force -->
                                                    <select *ngIf="backend.generics[s.gen][backend.generics[s.gen].length - 1].instantiable && backend.generics[s.gen][backend.generics[s.gen].length - 1].new_keys_only
                                                        && !backend.generics[s.gen][backend.generics[s.gen].length - 1].new_key_is" [(ngModel)]="new_names[h.sid + i + s.gen]"
                                                        name="new_name{{ dataservice.sanit(s.gen) }}" class="form-control" style="box-shadow: 1px 1px 1px #FF5000!important;">
                                                        <option *ngFor="let k of backend.generics[s.gen][backend.generics[s.gen].length - 1].new_key" [value]="k.substr(4)">{{ k | translate }}</option>
                                                    </select>
                                                    <!-- end select name force -->
                                                    <!-- force name -->
                                                    <input type="text" *ngIf="backend.generics[s.gen][backend.generics[s.gen].length - 1].instantiable && !!backend.generics[s.gen][backend.generics[s.gen].length - 1].new_key_is"
                                                        style="box-shadow: 1px 1px 1px #FF5000!important;" [(ngModel)]="new_names[h.sid + i + s.gen]" class="form-control" id="setname{{ h.sid}}{{ i }}{{ dataservice.sanit(s.gen) }}" [attr.g]="g"
                                                        [attr.nwkey]="backend.generics[s.gen][backend.generics[s.gen].length - 1].new_key_is" readonly="readonly" name="new_name{{ dataservice.sanit(s.gen) }}"/>
                                                    <!-- end force name -->
                                                    <!-- labels -->
                                                    <div style="padding-top: 1em;display: none;" class="keysprofile_address text-right">
                                                        <div class="row" style="height: 5ex;padding-right: 20px;" *ngFor="let k of backend.generics[s.gen][backend.generics[s.gen].length - 1].json_keys">
                                                            {{ k.descr_key | translate }}<span *ngIf="k.required">*</span>:<br />
                                                        </div>
                                                    </div>
                                                    <!-- end labels -->
                                                </div>
                                                <div class="col-md-4">
                                                    <input_block [reset]="resets[h.sid + i + s.gen]" [g]="s.gen" (out)="regData(s.gen, $event, h.sid, i)" [writeDesc]="false"></input_block>
                                                </div>
                                                <div class="col-md-4 text-center">
                                                    <h4>{{ 'action' | translate }}</h4>
                                                    <div *ngIf="s.options.share_instead && filters(s.gen).length > 0">
                                                        <p style="text-align: center;">{{ 'happenings.redirExp' | translate }}</p>
                                                        <label class="mt-checkbox mt-checkbox-outline">
                                                            <input type="checkbox" [(ngModel)]="doRedir[h.sid + i + s.gen]" /> {{ 'happenings.redir' | translate }}
                                                            <span></span>
                                                        </label>
                                                        <select style="margin-bottom: 1em;" class="form-control" [(ngModel)]="redir[h.sid + i + s.gen]">
                                                            <option *ngFor="let f of filters(s.gen)" [value]="f">{{ f }}</option>
                                                        </select>
                                                    </div>
                                                    <div *ngFor="let o of s.outputs">
                                                        <button type="button" *ngIf="!o.is_terminal" class="btn default" [disabled]="!new_names[h.sid + i + s.gen] || new_names[h.sid + i + s.gen] == ''"
                                                            (click)="register(s.gen, new_names[h.sid + i + s.gen], backend.generics[s.gen][backend.generics[s.gen].length - 1].mode == 'file',
                                                                h.sid, i, o.next)"><i class="fa fa-check-square"></i> {{ o.nextHelp | translate }}</button>
                                                        <button type="button" *ngIf="!!o.is_terminal && o.is_terminal" class="btn green" [disabled]="!new_names[h.sid + i + s.gen] || new_names[h.sid + i + s.gen] == ''"
                                                            (click)="register(s.gen, new_names[h.sid + i + s.gen], backend.generics[s.gen][backend.generics[s.gen].length - 1].mode == 'file',
                                                            h.sid, i, h.entryStep) && finish(h.sid)"><i class="fa fa-check-square"></i> {{ 'happenings.do' | translate }}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PANES -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div class="page-footer">
            <div class="scroll-to-top" style="display: block;" (click)="dataservice.top()">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- END FOOTER -->
    </div>
</div>