<!-- TEXT -->
<input *ngIf="backend.generics[g][backend.generics[g].length - 1].mode == 'text' && !!backend.generics[g][backend.generics[g].length - 1].placeholder"
    type="text" class="form-control grant-required" [(ngModel)]="new_data" name="new_data" (change)="iChange(1)"
    [placeholder]="backend.generics[g][backend.generics[g].length - 1].placeholder" [attr.data-forid]="'#accord' + dataservice.sanit(g)"/>
<input *ngIf="backend.generics[g][backend.generics[g].length - 1].mode == 'text' && !backend.generics[g][backend.generics[g].length - 1].placeholder"
    type="text" class="form-control grant-required" [(ngModel)]="new_data" name="new_data" (change)="iChange(1)" [attr.data-forid]="'#accord' + dataservice.sanit(g)"/>
<!-- FILE -->
<button id="fsb{{ dataservice.sanit(g) }}" type="button" class="btn default load-button" (click)="dataservice.triggerLoad(dataservice.sanit(g))"
    *ngIf="backend.generics[g][backend.generics[g].length - 1].mode == 'file'"><i class="fa fa-cloud-upload"></i></button>
<input id="fs{{ dataservice.sanit(g) }}" style="display: none;" type="file" class="form-control grant-required" (change)="fileLoad($event)" name="new_data"
    [attr.data-forid]="'#accord' + dataservice.sanit(g)" *ngIf="backend.generics[g][backend.generics[g].length - 1].mode == 'file'"/>
<!-- JSON KEYS -->
<div *ngIf="backend.generics[g][backend.generics[g].length - 1].mode == 'json_keys'">
    <button *ngIf="!writeDesc" type="button" id="igen2{{ dataservice.sanit(g) }}{{ dataservice.sanit(prefill) }}" class="btn btn-link wigen2" (click)="collapse()">{{ getMyText() | translate }}</button>
    <div class="json{{ dataservice.sanit(g) }}{{ dataservice.sanit(prefill) }}" style="display: none;" *ngFor="let k of backend.generics[g][backend.generics[g].length - 1].json_keys">
        <div *ngIf="writeDesc">{{ k.descr_key | translate }}<span *ngIf="k.required">*</span></div>
        <div class="visible-xs-block visible-sm-block" *ngIf="!writeDesc">{{ k.descr_key | translate }}<span *ngIf="k.required">*</span></div>
        <!-- SUBTYPES -->
        <!-- text -->
        <input type="text" *ngIf="k.mode == 'text' && !!k.placeholder" class="form-control" [class.grant-required]="k.required" [(ngModel)]="new_datas[k.descr_key]"
            name="new_datas" (change)="iChange(3)" [placeholder]="k.placeholder" [attr.data-forid]="'#accord' + dataservice.sanit(g)"/>
        <input type="text" *ngIf="k.mode == 'text' && !k.placeholder" class="form-control" [class.grant-required]="k.required" [(ngModel)]="new_datas[k.descr_key]"
            name="new_datas" (change)="iChange(3)" [attr.data-forid]="'#accord' + dataservice.sanit(g)"/>
        <!-- file -->
        <button id="fsb{{ dataservice.sanit(g) }}{{ dataservice.sanit(k.descr_key) }}" type="button" class="btn default" (click)="dataservice.triggerLoad(dataservice.sanit(g) + dataservice.sanit(k.descr_key))" *ngIf="k.mode == 'file'">
            <i class="fa fa-cloud-upload"></i></button>
        <input id="fs{{ dataservice.sanit(g) }}{{ dataservice.sanit(k.descr_key) }}" style="display: none;" [class.grant-required]="k.required" type="file"
            class="form-control" (change)="fileLoad($event, k.descr_key)" name="new_datas" [attr.data-forid]="'#accord' + dataservice.sanit(g)" *ngIf="k.mode == 'file'"/>
        <!-- select -->
        <select class="form-control" [(ngModel)]="new_datas[k.descr_key]" name="new_data" *ngIf="k.mode == 'select'" [class.grant-required]="k.required"
            (change)="regChange(3)" [attr.data-forid]="'#accord' + dataservice.sanit(g)">
            <option *ngFor="let f of dataservice.getSelect(k.enum)" [value]="f">{{ f | translate }}</option>
        </select>
        <!-- checkbox -->
        <label class="rememberme mt-checkbox mt-checkbox-outline" *ngIf="k.mode == 'checkbox'" (change)="iChange(3)">
            <input type="checkbox" name="new_data" [(ngModel)]="new_datas[k.descr_key]" value="false" />
            <span style="margin-top: 1em;"></span>
        </label>
        <!-- date -->
        <div class="input-group date pickgen{{ dataservice.sanit(g) }}{{ dataservice.sanit(k.descr_key) }}" *ngIf="k.mode == 'date'">
            <input type='text' class="form-control" [class.grant-required]="k.required" [(ngModel)]="new_datas[k.descr_key]" name="new_data{{ g + k.descr_key }}" (change)="iChange(3)"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>
<!-- SELECT -->
<select class="form-control grant-required" [(ngModel)]="new_data" name="new_data" *ngIf="backend.generics[g][backend.generics[g].length - 1].mode == 'select'" (change)="regChange(1)" [attr.data-forid]="'#accord' + dataservice.sanit(g)">
    <option *ngFor="let f of dataservice.getSelect(backend.generics[g][backend.generics[g].length - 1].enum)" [value]="f">{{ f | translate }}</option>
</select>
<!-- CHECKBOX -->
<label class="rememberme mt-checkbox mt-checkbox-outline" *ngIf="backend.generics[g][backend.generics[g].length - 1].mode == 'checkbox'" (change)="iChange(1)">
    <input type="checkbox" name="new_data" [(ngModel)]="new_data" value="false" />
    <span style="margin-top: 1em;"></span>
</label>
<!-- DATE -->
<div class="input-group date grant-required pickgen{{ dataservice.sanit(g) }}" *ngIf="backend.generics[g][backend.generics[g].length - 1].mode == 'date'">
    <input type='text' class="form-control" [(ngModel)]="new_data" name="new_data{{ g }}" (change)="iChange(1)"/>
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>