<!-- TEXT -->
<input *ngIf="backend.generics[g][backend.generics[g].length - 1].mode == 'text' && !!backend.generics[g][backend.generics[g].length - 1].placeholder"
    type="text" class="form-control input-circle" [(ngModel)]="new_data" name="new_data" (change)="iChange(1)" [placeholder]="backend.generics[g][backend.generics[g].length - 1].placeholder"/>
<input *ngIf="backend.generics[g][backend.generics[g].length - 1].mode == 'text' && !backend.generics[g][backend.generics[g].length - 1].placeholder"
    type="text" class="form-control input-circle" [(ngModel)]="new_data" name="new_data" (change)="iChange(1)"/>
<!-- FILE -->
<input *ngIf="backend.generics[g][backend.generics[g].length - 1].mode == 'file'"
    type="file" class="form-control input-circle" (change)="fileLoad($event)" name="new_data" />
<!-- JSON KEYS -->
<div *ngIf="backend.generics[g][backend.generics[g].length - 1].mode == 'json_keys'">
    <div class="json{{ dataservice.sanit(g) }}" *ngFor="let k of backend.generics[g][backend.generics[g].length - 1].json_keys">
        <div *ngIf="writeDesc">{{ k.descr_key | translate }}<span *ngIf="k.required">*</span></div>
        <div class="visible-xs-block visible-sm-block" *ngIf="!writeDesc">{{ k.descr_key | translate }}<span *ngIf="k.required">*</span></div>
        <!-- SUBTYPES -->
        <!-- text -->
        <input type="text" *ngIf="k.mode == 'text' && !!k.placeholder" class="form-control input-circle" [(ngModel)]="new_datas[k.descr_key]" name="new_datas" (change)="iChange(3)" [placeholder]="k.placeholder"/>
        <input type="text" *ngIf="k.mode == 'text' && !k.placeholder" class="form-control input-circle" [(ngModel)]="new_datas[k.descr_key]" name="new_datas" (change)="iChange(3)"/>
        <!-- file -->
        <input type="file" *ngIf="k.mode == 'file'" class="form-control input-circle" (change)="fileLoad($event, k.descr_key)" name="new_datas"/>
        <!-- select -->
        <select class="form-control input-circle" [(ngModel)]="new_datas[k.descr_key]" name="new_data" *ngIf="k.mode == 'select'" (change)="regChange(3)">
            <option *ngFor="let f of dataservice.getSelect(k.enum)" [value]="f">{{ f }}</option>
        </select>
        <!-- checkbox -->
        <label class="rememberme mt-checkbox mt-checkbox-outline" *ngIf="k.mode == 'checkbox'" (change)="iChange(3)">
            <input type="checkbox" name="new_data" [(ngModel)]="new_data" value="false" /> {{ 'generics.hasValue' | translate }}
            <span></span>
        </label>
        <!-- date -->
        <div class='input-group date' id='pickgen{{ dataservice.sanit(k.descr_key) }}' *ngIf="k.mode == 'date'">
            <input type='text' class="form-control" [(ngModel)]="new_data" name="new_data" (change)="iChange(3)"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        <script type="text/javascript" *ngIf="k.mode == 'date'">
            $('#pickgen{{ dataservice.sanit(k.descr_key) }}').datetimepicker();
        </script>
    </div>
</div>
<!-- SELECT -->
<select class="form-control input-circle" [(ngModel)]="new_data" name="new_data" *ngIf="backend.generics[g][backend.generics[g].length - 1].mode == 'select'" (change)="regChange(1)">
    <option *ngFor="let f of dataservice.getSelect(backend.generics[g][backend.generics[g].length - 1].enum)" [value]="f">{{ f }}</option>
</select>
<!-- CHECKBOX -->
<label class="rememberme mt-checkbox mt-checkbox-outline" *ngIf="backend.generics[g][backend.generics[g].length - 1].mode == 'checkbox'" (change)="iChange(1)">
    <input type="checkbox" name="new_data" [(ngModel)]="new_data" value="false" /> {{ 'generics.hasValue' | translate }}
    <span></span>
</label>
<!-- DATE -->
<div class='input-group date' id='pickgen{{ dataservice.sanit(g) }}' *ngIf="backend.generics[g][backend.generics[g].length - 1].mode == 'date'">
    <input type='text' class="form-control" [(ngModel)]="new_data" name="new_data" (change)="iChange(1)"/>
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>
<script type="text/javascript" *ngIf="backend.generics[g][backend.generics[g].length - 1].mode == 'date'">
    $('#pickgen{{ dataservice.sanit(g) }}').datetimepicker();
</script>