<div class="container-fluid" style="display: none;" id="ctn-log">
    <div class="login">
        <div class="logo">
            <img src="../../../img/private/logo-big.png" width="100px" alt="" />
        </div>
        <!-- BEGIN LOGIN -->
        <div class="content">
            <!-- BEGIN LOGIN FORM -->
            <form class="login-form">
                <h3 class="form-title">{{ 'login.title' | translate }}</h3>
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    <span>{{ 'login.alert' | translate }}</span>
                </div>
                <div class="form-group ilogging">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">{{ 'login.username' | translate }}</label>
                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        <input class="form-control placeholder-no-fix" id="wlogin-login" type="text" [(ngModel)]="username" autocomplete="off" placeholder="{{ 'login.username' | translate }}" name="username" /> </div>
                </div>
                <div class="form-group ilogging">
                    <label class="control-label visible-ie8 visible-ie9">{{ 'login.pass' | translate }}</label>
                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        <input class="form-control placeholder-no-fix" id="wlogin-pass" type="password" [(ngModel)]="password" autocomplete="off" placeholder="{{ 'login.pass' | translate }}" name="password" /> </div>
                </div>
                <div class="form-actions">
                    <label class="rememberme mt-checkbox mt-checkbox-outline">
                        <input type="checkbox" name="remember" [(ngModel)]="persistent" /> {{ 'login.remember' | translate }}
                        <span></span>
                    </label>
                    <button type="submit" class="btn green pull-right" id="wlogin-btn" (click)="enter()"> {{ 'goOn' | translate }} </button>
                </div>
                <div class="forget-password">
                    <h4>{{ 'login.forgot' | translate }}</h4>
                    <p> {{ 'login.forgot1' | translate }}
                        <a href="javascript:;" id="forget-password" style="color: #FF5000;">{{ 'here' | translate }}</a>{{ 'login.forgot2' | translate }} </p>
                </div>
                <div class="create-account">
                    <p> {{ 'login.register' | translate }}
                        <a href="javascript:;" id="register-btn" style="color: #FF5000;"> {{ 'login.create' | translate }} </a>
                    </p>
                    <p> {{ 'login.registerSafe' | translate }}
                        <a href="javascript:;" id="register-btn-safe" style="color: #FF5000;"> {{ 'login.click' | translate }} </a>
                    </p>
                </div>
                <div class="forget-password" *ngFor="let a of auth.choices()">
                    <p> {{ 'login.loginas' | translate }}
                        <a href="javascript:;" style="color: #FF5000;" (click)="loginas(a)">{{ dataservice.forDisplay(a) }}</a></p>
                </div>
            </form>
            <!-- END LOGIN FORM -->
            <!-- BEGIN FORGOT PASSWORD FORM -->
            <form class="forget-form">
                <h3>{{ 'login.forgot' | translate }}</h3>
                <p> {{ 'login.forgot3' | translate }} </p>
                <div class="form-group iforget">
                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        <input class="form-control placeholder-no-fix" type="text" [(ngModel)]="username" autocomplete="off" placeholder="{{ 'login.username' | translate }}" name="ID" /> </div>
                </div>
                <div class="form-actions">
                    <button type="button" id="back-btn" class="btn grey-salsa btn-outline"> {{ 'back' | translate }} </button>
                    <button type="submit" class="btn green pull-right" (click)="forgot()"> {{ 'goOn' | translate }} </button>
                </div>
            </form> 
            <!-- END FORGOT PASSWORD FORM -->
            <!-- BEGIN REGISTRATION FORM -->
            <form class="register-form" id="reg1">
                <h3>{{ 'login.signUp' | translate }}</h3>
                <p> {{ 'login.sign' | translate }} </p>
                <div class="form-group iuname">
                    <label class="control-label visible-ie8 visible-ie9">{{ 'login.usernameRec' | translate }}</label>
                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        <input class="form-control placeholder-no-fix" type="text" [(ngModel)]="username" autocomplete="off" placeholder="{{ 'login.usernameRec' | translate }}" name="username" /> </div>
                </div>
                <div class="form-group ipass">
                    <label class="control-label visible-ie8 visible-ie9">{{ 'login.password' | translate }}</label>
                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        <input class="form-control placeholder-no-fix" type="password" (input)="dataservice.showStr('pwdstr', 'register_password')" [(ngModel)]="password" autocomplete="off" id="register_password" placeholder="{{ 'login.password' | translate }}" name="password" /> </div>
                </div>
                <div class="form-group ipass">
                    <label class="control-label visible-ie8 visible-ie9">{{ 'login.password2' | translate }}</label>
                    <div class="controls">
                        <div class="input-icon">
                            <i class="fa fa-check"></i>
                            <input class="form-control placeholder-no-fix" type="password" [(ngModel)]="password2" autocomplete="off" placeholder="{{ 'login.password2' | translate }}" name="rpassword" /> </div>
                    </div>
                </div>
                <div class="form-group">
                    <span class="progress" style="display: block; margin-bottom: 0px;">
                        <span id="pwdstr" style="width: 0%;" class="progress-bar" aria-valuemin="0" aria-valuemax="100"></span>
                    </span>
                </div>
                <div class="form-group ifname" *ngIf="!is_company">
                    <label class="control-label visible-ie8 visible-ie9">{{ 'generics.first_name' | translate }}</label>
                    <div class="input-icon">
                        <i class="fa fa-graduation-cap"></i>
                        <input class="form-control placeholder-no-fix" type="text" [(ngModel)]="fname" autocomplete="off" placeholder="{{ 'generics.first_name' | translate }}" name="fname" /> </div>
                </div>
                <div class="form-group ilname" *ngIf="!is_company">
                    <label class="control-label visible-ie8 visible-ie9">{{ 'generics.last_name' | translate }}</label>
                    <div class="input-icon">
                        <i class="fa fa-graduation-cap"></i>
                        <input class="form-control placeholder-no-fix" type="text" [(ngModel)]="lname" autocomplete="off" placeholder="{{ 'generics.last_name' | translate }}" name="lname" /> </div>
                </div>
                <div class="form-group imail">
                    <label class="control-label visible-ie8 visible-ie9">{{ 'login.email' | translate }}</label>
                    <div class="input-icon">
                        <i class="fa fa-envelope"></i>
                        <input class="form-control placeholder-no-fix" type="text" [(ngModel)]="email" autocomplete="off" placeholder="{{ 'login.email' | translate }}" name="email" /> </div>
                </div>
                <div class="form-group irecupid">
                    <label class="rememberme mt-checkbox mt-checkbox-outline">
                        <input type="checkbox" name="is_company" [(ngModel)]="is_company" /> {{ 'login.is_company' | translate }}
                        <span></span>
                    </label>
                    <label class="rememberme mt-checkbox mt-checkbox-outline">
                        <input type="checkbox" name="recuperable" [(ngModel)]="recuperable" id="recupcheck" /> {{ 'login.recuperable' | translate }}
                        <span></span>
                    </label>
                    <label class="rememberme mt-checkbox mt-checkbox-outline">
                        <input type="checkbox" name="safe" [(ngModel)]="safe" /> {{ 'login.safe' | translate }}
                        <span></span>
                    </label>
                    <label class="control-label visible-ie8 visible-ie9">{{ 'login.recupId' | translate }}</label>
                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        <input class="form-control placeholder-no-fix" type="text" [(ngModel)]="recup_id" autocomplete="off" placeholder="{{ 'login.recupId' | translate }}" name="recup_id" [readonly]="!recuperable || !safe" /> </div>
                </div>
                <div class="form-group">
                    <re-captcha (captchaResponse)="backend.cptReg($event)" site_key="6LfleigTAAAAALOtJgNBGWu4A0ZiHRvetRorXkDx"></re-captcha>
                </div>
                <div class="form-actions">
                    <button type="button" class="btn grey-salsa btn-outline register-back-btn"> {{ 'back' | translate }} </button>
                    <button type="submit" id="register-submit-btn" class="btn green pull-right" (click)="signUp()"> {{ 'login.signUp' | translate }} </button>
                </div>
            </form>
            <!-- END REGISTRATION FORM -->
            <!-- BEGIN REGISTRATION SAFE FORM -->
            <form class="register-form" id="reg2">
                <h3>{{ 'login.signUp' | translate }}</h3>
                <p> {{ 'login.sign' | translate }} </p>
                <div class="form-group iuname">
                    <label class="control-label visible-ie8 visible-ie9">{{ 'login.usernameRec' | translate }}</label>
                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        <input class="form-control placeholder-no-fix" type="text" [(ngModel)]="username" autocomplete="off" placeholder="{{ 'login.usernameRec' | translate }}" name="username" /> </div>
                </div>
                <div class="form-group">
                    <label class="rememberme mt-checkbox mt-checkbox-outline">
                        <input type="checkbox" name="is_company" [(ngModel)]="is_company" /> {{ 'login.is_company' | translate }}
                        <span></span>
                    </label>
                </div>
                <p> {{ 'login.pubKeyExplain' | translate }} </p>
                <div class="form-group ipubkey">
                    <label class="control-label visible-ie8 visible-ie9">{{ 'login.pubkey' | translate }}</label>
                    <div class="input-icon">
                        <i class="fa fa-recycle"></i>
                        <textarea class="form-control placeholder-no-fix" [(ngModel)]="pubkey" placeholder="{{ 'login.pubkey' | translate }}" name="pubkey"></textarea></div>
                </div>
                <p> {{ 'login.certExplain' | translate }} </p>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">{{ 'login.cert' | translate }}</label>
                    <div class="input-icon">
                        <i class="fa fa-recycle"></i>
                        <textarea class="form-control placeholder-no-fix" [(ngModel)]="cert" readonly="readonly" placeholder="{{ 'login.cert' | translate }}" name="cert"></textarea></div>
                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">{{ 'login.mk' | translate }}</label>
                    <div class="input-icon">
                        <i class="fa fa-recycle"></i>
                        <input type="text" class="form-control placeholder-no-fix" [(ngModel)]="mk" readonly="readonly" placeholder="{{ 'login.mk' | translate }}" name="mk" /></div>
                </div>
                <div class="form-actions">
                    <button type="button" class="btn grey-salsa btn-outline register-back-btn"> {{ 'back' | translate }} </button>
                    <button type="submit" id="register-submit-btn" class="btn green pull-right" (click)="dummyUp()"> {{ 'login.signUp' | translate }} </button>
                </div>
            </form>
            <!-- END REGISTRATION SAFE FORM -->
        </div>
        <!-- END LOGIN -->
    </div>
</div>