<div class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="page-wrapper">
        <header [cur]="dataservice.ee" [run]="dataservice.how"></header>
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix" style="background-color: #414142;"></div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <sidebar [lighted]="60"></sidebar>
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content" style="min-height:800px">
                    <!-- BEGIN PAGE TITLE-->
                    <h1 class="page-title"> {{ 'advert.title' | translate }}</h1>
                    <!-- END PAGE TITLE-->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN BLOCK -->
                            <div class="tab-content">
                                <div class="tab-pane active">
                                    <div class="portlet box blue-madison">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-bookmark"></i>{{ 'advert.make' | translate }}</div>
                                        </div>
                                        <div class="portlet-body form">
                                            <!-- BEGIN FORM-->
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>{{ 'advert.explainCom' | translate }}</p>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label class="control-label">{{ 'advert.address' | translate }}</label><br />
                                                                <select class="form-control" [(ngModel)]="address">
                                                                    <option *ngFor="let c of filters('corporate/address')" [value]="c">{{ c }}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label class="control-label">{{ 'advert.radius' | translate }}:</label><br />
                                                                <select class="form-control" [(ngModel)]="radius">
                                                                    <option value="5" selected="selected">5 Km</option>
                                                                    <option value="10">10 Km</option>
                                                                    <option value="30">30 Km</option>
                                                                    <option value="100">100 Km</option>
                                                                    <option value="1000">1000 Km</option>
                                                                    <option value="100000">{{ 'advert.world' | translate }}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label">{{ 'advert.topic' | translate }}:</label><br />
                                                                <input type="text" class="form-control" [(ngModel)]="topics"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label">{{ 'advert.url' | translate }}:</label><br />
                                                                <input type="text" class="form-control" [(ngModel)]="url"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <button class="btn green" (click)="grant()" [disabled]="!credited || !topics || topics == '' || !url || !!!dataservice.checking.isURL(url)">
                                                                <i class="fa fa-pencil"></i> {{ 'record' | translate }}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END FORM-->
                                            <!-- BEGIN FORM-->
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <p>{{ 'advert.load' | translate }}</p>
                                                </div>
                                                <div class="col-md-3" *ngIf="!credited">
                                                    <div id="paypal-btn"></div>
                                                </div>
                                                <div class="col-md-3" [style.display]="credited? 'block' : 'none'">
                                                    <p>{{ 'advert.credited' | translate }}</p>
                                                </div>
                                            </div>
                                            <!-- END FORM-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END BLOCK -->
                            <!-- BEGIN BLOCK -->
                            <div class="tab-content">
                                <div class="tab-pane active">
                                    <div class="portlet box blue-madison">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-bookmark"></i>{{ 'advert.running' | translate }}</div>
                                            <div class="tools">
                                                <a *ngIf="dataservice.keys(campaigns).length > 0" href="javascript:;" class="tl-link expand"
                                                    (click)="dataservice.collapse('apsable3')"> </a>
                                                <span *ngIf="dataservice.keys(campaigns).length == 0"><i class="fa fa-exclamation-triangle"></i> </span>
                                            </div>
                                        </div>
                                        <div *ngIf="dataservice.keys(campaigns).length > 0" class="portlet-body form" id="apsable3">
                                            <!-- BEGIN FORM-->
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>{{ 'advert.where' | translate }}</th>
                                                            <th>{{ 'advert.rad' | translate }}</th>
                                                            <th>{{ 'advert.topics' | translate }}</th>
                                                            <th>{{ 'advert.until' | translate }}</th>
                                                            <th>{{ 'action' | translate }}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let d of dataservice.keys(campaigns)">
                                                            <td>{{ campaigns[d].lat }}/{{ campaigns[d].lon }}</td>
                                                            <td>{{ campaigns[d].radius }} Km</td>
                                                            <td style="max-width: 150px;overflow-x: auto;">{{ campaigns[d].topics }}</td>
                                                            <td>{{ campaigns[d].until }}</td>
                                                            <td>
                                                                <button type="button" [disabled]="campaigns[d].until != ''"
                                                                    class="btn green" (click)="redo(d)">{{ 'goOn' | translate }}</button>
                                                                <button class="btn" (click)="remove(d)" [disabled]="campaigns[d].until != ''">
                                                                    <i class="fa fa-trash"></i> {{ 'remove' | translate }}</button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- END FORM-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END BLOCK -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div class="page-footer">
            <div class="scroll-to-top" style="display: block;" (click)="dataservice.top()">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- END FOOTER -->
    </div>
</div>