<div class="tab-content" style="display: none;" id="ctn-merge">
    <div class="tab-pane active">
        <div class="portlet box blue-madison">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-user"></i>{{ 'merge.title' | translate }}</div>
                <div class="tools"></div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal" role="form">
                    <div class="form-body">
                        <h4 class="form-section">{{ 'merge.title' | translate }}</h4>
                        <div class="row">
                            <p>{{ 'merge.explain' | translate }}</p>
                            <div class="col-md-6">
                                <div class="form-group imerging">
                                    <label class="control-label col-md-4">{{ 'merge.login' | translate }}:</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" [(ngModel)]="login" name="login"/>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group imerging">
                                    <label class="control-label col-md-4">{{ 'merge.pass' | translate }}:</label>
                                    <div class="col-md-8">
                                        <input type="password" class="form-control" [(ngModel)]="password" name="password"/>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                    </div>
                    <div class="form-actions">
                        <div class="row text-center">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-offset-2 col-md-3">
                                        <button type="submit" class="btn green" [disabled]="!login || !password || login == '' || password == ''" (click)="merge()">
                                            {{ 'merge.merge' | translate }}</button>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="rememberme mt-checkbox mt-checkbox-outline">
                                            <input type="checkbox" name="erase" [(ngModel)]="erase" /> {{ 'merge.erase' | translate }}
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="col-md-1">
                                        <button type="submit" class="btn btn-danger" (click)="oblit()">
                                            <i class="fa fa-trash"></i> {{ 'oblit' | translate }}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"> </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>