<div class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="page-wrapper">
        <header [cur]="dataservice.ee" [run]="dataservice.how"></header>
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <sidebar [lighted]="0"></sidebar>
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content" style="min-height:800px">
                    <!-- BEGIN PAGE TITLE-->
                    <h1 class="page-title"> {{ 'profile.home' | translate }}</h1>
                    <!-- END PAGE TITLE-->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN BLOCK -->
                            <div class="tab-content">
                                <div class="tab-pane active">
                                    <div class="portlet box blue-madison">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-user"></i>{{ 'profile.change' | translate }}</div>
                                            <div class="tools">
                                                <a href="javascript:;" class="tl-link expand" (click)="dataservice.collapse('apsable')"> </a>
                                                <!-- <a href="javascript:;" class="remove"> </a> -->
                                            </div>
                                        </div>
                                        <div class="portlet-body form" id="apsable">
                                            <!-- BEGIN FORM-->
                                            <form class="form-horizontal" role="form">
                                                <div class="form-body">
                                                    <h4 class="form-section">{{ 'profile.change' | translate }}</h4>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="row" style="padding-left: 15px;">
                                                                <div class="form-group" id="inewname">
                                                                    <label class="control-label">{{ 'profile.uname' | translate }}:</label><br />
                                                                    <div class="col-md-8">
                                                                        <input type="text" class="form-control" [(ngModel)]="new_name" name="new_name" [disabled]="backend.profile._id.indexOf('wiuser') != 0"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row" style="padding-left: 15px;">
                                                                <div class="form-group" id="inewname">
                                                                    <label class="control-label">{{ 'profile.uname' | translate }}:</label><br />
                                                                    <div class="col-md-8">
                                                                        <input type="text" class="form-control" [(ngModel)]="new_name2" name="new_name2" [disabled]="backend.profile._id.indexOf('wiuser') != 0"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="row">
                                                                <div class="form-group">
                                                                    <label class="control-label"><h4>{{ 'profile.current' | translate }}:</h4></label><br />
                                                                    <div class="col-md-8">
                                                                        <input type="password" class="form-control" [(ngModel)]="current_pwd" name="password" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="form-group">
                                                                    <re-captcha (captchaResponse)="backend.cptReg($event)" site_key="6LfleigTAAAAALOtJgNBGWu4A0ZiHRvetRorXkDx" size="compact"></re-captcha>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="row">
                                                                <div class="form-group inewpass">
                                                                    <label class="control-label">{{ 'profile.new' | translate }}:</label><br />
                                                                    <div class="col-md-8">
                                                                        <input type="password" class="form-control" id="pwdspro" (input)="dataservice.showStr('pwdchg', 'pwdspro')" [(ngModel)]="password" name="new_pass" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="form-group inewpass">
                                                                    <label class="control-label">{{ 'profile.new' | translate }}:</label><br />
                                                                    <div class="col-md-8">
                                                                        <input type="password" class="form-control" [(ngModel)]="password2" name="new_pass2" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="row">
                                                                    <div class="form-group" *ngIf="!use_file">
                                                                        <span class="progress" style="display: block; margin-bottom: 0px;">
                                                                            <span id="pwdchg" style="width: 0%;" class="progress-bar" aria-valuemin="0" aria-valuemax="100"></span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <button type="submit" class="btn green" (click)="changeUname()" [disabled]="backend.profile._id.indexOf('wiuser') != 0 || !new_name || new_name == '' || !new_name2 || new_name2 == '' || !current_pwd || current_pwd == ''">
                                                                <i class="fa fa-pencil"></i> {{ 'profile.uname' | translate }}</button>
                                                        </div>
                                                        <div class="col-md-6 text-right" style="margin-left: -45px;">
                                                            <button type="submit" class="btn green" (click)="update()" [disabled]="!password || password == '' || !password2 || password2 == '' || !current_pwd || current_pwd == ''">
                                                                <i class="fa fa-pencil"></i> {{ 'profile.change' | translate }}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- END FORM-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END BLOCK -->
                            <!-- BEGIN BLOCK -->
                            <merge-account></merge-account>
                            <!-- END BLOCK -->
                            <!-- BEGIN BLOCK -->
                            <div class="tab-content">
                                <div class="tab-pane active">
                                    <div class="portlet box blue-madison">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-user"></i>{{ 'profile.revoke' | translate }}</div>
                                            <div class="tools">
                                                <a href="javascript:;" class="tl-link expand" (click)="dataservice.collapse('apsable2')"> </a>
                                                <!-- <a href="javascript:;" class="remove"> </a> -->
                                            </div>
                                        </div>
                                        <div class="portlet-body form" id="apsable2">
                                            <!-- BEGIN FORM-->
                                            <form class="form-horizontal" role="form">
                                                <div class="form-body">
                                                    <h4 class="form-section">{{ 'profile.revoke' | translate }}</h4>
                                                    <div class="row">
                                                        <p>{{ 'profile.explain' | translate }}</p>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">{{ 'profile.revokeID' | translate }}:</label>
                                                                <div class="col-md-8">
                                                                    <select class="form-control" [(ngModel)]="revoke_id" name="revoke_id">
                                                                        <option *ngFor="let f of regables()" [value]="f">{{ dataservice.forDisplay(f) }}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                    </div>
                                                    <!--/row-->
                                                </div>
                                                <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <div class="col-md-offset-3 col-md-9">
                                                                    <button type="submit" class="btn green" (click)="revokeAll()" [disabled]="regables().length == 0">
                                                                        <i class="fa fa-pencil"></i> {{ 'profile.revoke' | translate }}</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6"> </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- END FORM-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END BLOCK -->
                            <!-- BEGIN BLOCK -->
                            <div class="tab-content">
                                <div class="tab-pane active">
                                    <div class="portlet box blue-madison">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-user"></i>{{ 'profile.oauth' | translate }}</div>
                                            <div class="tools">
                                                <a *ngIf="!!backend.profile.oauth && backend.profile.oauth.length > 0" href="javascript:;" class="tl-link expand"
                                                    (click)="dataservice.collapse('apsable3')"> </a>
                                                <span *ngIf="!backend.profile.oauth || backend.profile.oauth.length == 0"><i class="fa fa-exclamation-triangle"></i> </span>
                                            </div>
                                        </div>
                                        <div *ngIf="!!backend.profile.oauth && backend.profile.oauth.length > 0" class="portlet-body form" id="apsable3">
                                            <!-- BEGIN FORM-->
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>{{ 'oauth.for_id' | translate }}</th>
                                                            <th>{{ 'oauth.prefix' | translate }}</th>
                                                            <th>{{ 'action' | translate }}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody *ngIf="!!backend.profile">
                                                        <tr *ngFor="let d of backend.profile.oauth">
                                                            <td>{{ dataservice.forDisplay(d.for_id) }}</td>
                                                            <td>{{ d.prefix }}</td>
                                                            <td><button type="button" class="btn green" (click)="remove(d.id)">{{ 'remove' | translate }}</button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- END FORM-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END BLOCK -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div class="page-footer">
            <div class="scroll-to-top" style="display: block;" (click)="dataservice.top()">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- END FOOTER -->
    </div>
</div>