<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <div id="divSidebar" style="border-right: 2px solid #898373; border-bottom: 2px solid #898373;" class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul id="mainSidebar" class="page-sidebar-menu  page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <li class="nav-item linkbars" id="linkbars-1" style="display: none;"></li>
            <li class="nav-item linkbars" id="linkbars0">
                <a href="javascript:;" class="nav-link" (click)="router.navigate(['/profile'])">
                    <i class="icon-settings"></i>
                    <span class="title">{{ 'profile.home' | translate }}</span>
                </a>
            </li>
            <li class="nav-item linkbars" id="linkbars30">
                <a href="javascript:;" class="nav-link" (click)="router.navigate(['/oauths'])">
                    <i class="icon-settings"></i>
                    <span class="title">{{ 'profile.oauths' | translate }}</span>
                </a>
            </li>
            <li class="nav-item linkbars" id="linkbars40">
                <a href="javascript:;" class="nav-link" (click)="router.navigate(['/happenings'])">
                    <i class="icon-settings"></i>
                    <span class="title">{{ 'profile.happenings' | translate }}</span>
                </a>
            </li>
            <li class="heading">
                <h3 class="uppercase">{{ 'profile.generics' | translate }}</h3>
            </li>
            <li *ngFor="let key of dataservice.keys(dataservice.m.keys)" class="nav-item linkbars" id="linkbars{{ dataservice.m.keys[key].left_num }}">
                <a href="javascript:;" class="nav-link" (click)="router.navigate(['/generics', key])">
                    <i class="icon-graduation"></i>
                    <span class="title" *ngIf="dataservice.m.keys[key].is_i18n">{{ key | translate }}</span>
                    <span class="title" *ngIf="!dataservice.m.keys[key].is_i18n">{{ key }}</span>
                    <i class="title fa fa-trash" *ngIf="!dataservice.m.keys[key].is_i18n" (click)="removeColumn(key)" style="float: right;"></i>
                </a>
            </li>
            <!--
            <li class="nav-item linkbars">
                <a href="javascript:;" class="nav-link" style="cursor: default!important;">
                    <i class="icon-graduation"></i>
                    <input type="text" [(ngModel)]="new_name" class="title" style="border-radius: 6px; width: 110px; margin-right: 5px; background: transparent;" />
                    <button type="button" style="float: right; margin-top: 3px;" class="title btn btn-xs green" (click)="addColumn()" [disabled]="!new_name || new_name == ''">{{ 'sidebar.add' | translate }}</button>
                </a>
            </li>
            -->
            <li class="heading">
                <h3 class="uppercase">{{ 'profile.datas' | translate }}</h3>
            </li>
            <!--
            <li class="nav-item linkbars" id="linkbars3">
                <a href="javascript:;" class="nav-link" (click)="router.navigate(['/filesystem', 'data'])">
                    <i class="icon-share-alt"></i>
                    <span class="title">{{ 'profile.mine' | translate }}</span>
                    <span class="badge badge-danger" *ngIf="!!backend.data_trie">{{ backend.data_trie.count() }}</span>
                </a>                                
            </li>
            <li class="nav-item linkbars" id="linkbars4">
                <a href="javascript:;" class="nav-link" (click)="router.navigate(['/filesystem', 'vault'])">
                    <i class="icon-share-alt"></i>
                    <span class="title">{{ 'profile.shared' | translate }}</span>
                    <span class="badge badge-success" *ngIf="!!backend.shared_with_me_trie">{{ backend.shared_with_me_trie.count() }}</span>
                </a>
            </li>
            -->
            <li class="nav-item linkbars" id="linkbars5">
                <a href="javascript:;" class="nav-link" (click)="router.navigate(['/whoishare'])">
                    <i class="icon-share"></i>
                    <span class="title">{{ 'profile.whoishare' | translate }}</span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>